ul {
  color: red;
}

ul li {
  color: blue;
}

ul li div {
  color: yellow;
}

div {
  background: red;
  height: 200px;
}

/* 

SASS

ul
  color: red

  li 
    color: blue

    div
      color: yellow

*/
